.card5-background {
    background-color: var(--gray-100);
}

.card-5 {
    padding: 2rem;
    margin: auto;
    width: 100%;
    max-width: 1200px;
    display:flex;
    flex-direction: row;
    gap:1rem;
    padding-top: 5em;
    margin-left: 5rem;
    
    
    
}

/* Styling */

.client-review {
    color:var(--gray-900);
    font-weight:800;
    font-size: 2.5rem;
    white-space:nowrap;
    
}
.name {
    font-weight: 700;
    color:var(--gray-900);
    font-size:1rem;
}
.title {
    color:var(--gray-600);
    font-size: 0.875rem;
    font-weight: 400;
}

.review {
    font-size: 1.125rem;
    color:var(--gray-700);
    font-weight: 400;
}


/* Grid review*/

.review-1, .review-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    width:26rem;
    height:20.5rem;
    background-color: #FFF;
    border: #FFF;
    border-radius: 0.5rem;
    box-shadow: 2px 2px #ebeaea;

}

.quotes{
    grid-row:1;
    grid-column: 1;
    position:relative;
    top:-30%;
    z-index: 1;
    width:30%;
    max-width: 100%;
    margin-left:0.7rem;
    

}

 .review-stars {
    grid-row:1;
    grid-column: 1;
    margin: 2.5rem 0 0 0.8rem;
    

}

 
.review {
    grid-row:2 / span 3;
    grid-column: 1/ span 3;
    margin-left: 1rem;
    max-width: 100%;
    width:100%;
    box-sizing:border-box;
    

}

.fannie-img, .albert-img {
    grid-row:4;
    grid-column: 1;
    margin: 0.2rem 0 0 1rem;
    width:25%;

}

.fannie, .albert {
    grid-row:4;
    grid-column: 1 /span 2;
    margin: 0.5rem 3rem 0 4.3rem;
}

.designer, .developer {
    grid-row:4;
    grid-column: 1;
    margin: 1.8rem 3rem 0 5em;
}

.yellow-star, .hollow-star {
    width:9%;
}

.client-review {
    font-weight:800 ;
    width:auto;
    position: relative;
    left:-4%;
    margin-top:-20px;
    z-index: 1;
   
}