/* Media queries */
@media (min-width: 1000px) {
    .card-1, .card-2 {
        max-width: 1200px; /* Begränsar bredden på stora skärmar */
    }
}

@media (max-width: 1000px) {
    .card-1, .card-2 {
        width: 95%; /* Anpassar bredden på mindre skärmar */
        margin: 0 auto;
    }
    .hero-image {
        max-width: 100%; /* Se till att bilden inte sträcker sig utanför fönstret */
    }
}

@media (max-width: 600px) {
    .hero {
        padding: 50px 10px;
        grid-template-columns: 1fr; /* Gör layouten vertikal på små skärmar */
    }
    .hero-image {
        max-width: 100%; /* Se till att bilden inte sträcker sig utanför fönstret */
    }
}