* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    
:root {
--Top-bar-text-color: #33354d;
--background-color: #fff;
--primary-text-color:#0B0F19;
--secondary-text-color: #565973;
--third-text-color: #9397AD;
--primary-button-color: #6366F1;
--background-card2: #fff; 
--background-card3:F3F6FF;
}

}


body {
    font-family: "manrope", sans-serif;
    font-optical-sizing: auto;
}
 
